body, html, h1 {
    height: 100%;
    font-family: 'El Messiri', sans-serif;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

.w800 {
  font-weight: 800;
}

.kauno {
  font-family: 'Parisienne', cursive;
  font-size: 30px;
}

.mySlides {
  display:none;
}

.my-green, .my-hover-green:hover {
  color: #000!important;
  background-color: #99e699!important;
}
