body, html, h1 {
    height: 100%;
    /*font-family: "Inconsolata", sans-serif;*/
    font-family: 'Aref Ruqaa', serif;
}

.kauno {
  font-family: 'Parisienne', cursive;
  font-size: 30px;
}

.mySlides {
  display:none;
}
