body, html, h1 {
    height: 100%;
    font-family: 'El Messiri', sans-serif;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

.w800 {
  font-weight: 800;
}

.kauno {
  font-family: 'Parisienne', cursive;
  font-size: 30px;
}

.mySlides {
  display:none;
}

.my-green-light, .my-hover-green-light:hover {
  color: #000!important;
  background-color: #dbefdc!important;
}

.my-green, .my-hover-green:hover {
  color: #000!important;
  background-color: #b7dfb8!important;
}

.my-green-dark, .my-hover-green-dark:hover {
  color: #000!important;
  background-color: #265728!important;
}

.my-border-green, .my-hover-border-green:hover {
    border-color: #265728!important;
}
